/* line 7, ../sass/styles.scss */
.contenedor {
  padding: 0 10px;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 7, ../sass/styles.scss */
  .contenedor {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 7, ../sass/styles.scss */
  .contenedor {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 7, ../sass/styles.scss */
  .contenedor {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* line 28, ../sass/styles.scss */
.boton {
  background-color: #028484;
  padding: 20px;
  color: #ffffff;
}

/* line 34, ../sass/styles.scss */
.navegacion-principal {
  background-color: #072146;
  height: 70px;
}
@media only screen and (min-width: 1024px) {
  /* line 34, ../sass/styles.scss */
  .navegacion-principal {
    height: 120px;
  }
}

/* line 43, ../sass/styles.scss */
.nav-ppl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  height: 100%;
}

/* line 51, ../sass/styles.scss */
.menu-movil {
  width: 100%;
}
/* line 54, ../sass/styles.scss */
.menu-movil ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
/* line 60, ../sass/styles.scss */
.menu-movil ul li {
  display: inline-block;
  width: 30%;
}
/* line 64, ../sass/styles.scss */
.menu-movil ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
}
/* line 69, ../sass/styles.scss */
.menu-movil ul li a i {
  margin-right: 5px;
}
/* line 74, ../sass/styles.scss */
.menu-movil ul li img {
  height: 100%;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  /* line 51, ../sass/styles.scss */
  .menu-movil {
    display: none;
  }
}

/* line 87, ../sass/styles.scss */
.logo-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  /* line 87, ../sass/styles.scss */
  .logo-menu {
    display: inline-block;
  }
  /* line 92, ../sass/styles.scss */
  .logo-menu a {
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 15px;
  }
}

/* line 100, ../sass/styles.scss */
.cliente-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  /* line 100, ../sass/styles.scss */
  .cliente-menu {
    display: inline-block;
    flex-wrap: nowrap;
  }
  /* line 106, ../sass/styles.scss */
  .cliente-menu a {
    color: #ffffff;
    margin-right: 20px;
    flex-wrap: nowrap;
  }
  /* line 110, ../sass/styles.scss */
  .cliente-menu a:last-of-type {
    margin-right: 0px;
  }
}

/* line 117, ../sass/styles.scss */
.letra-amarilla {
  color: #f8cd51;
}

/* line 122, ../sass/styles.scss */
.menu-hamburguesa span {
  display: block;
  height: 3px;
  background-color: #ffffff;
  width: 20px;
  margin-bottom: 3px;
}
/* line 128, ../sass/styles.scss */
.menu-hamburguesa span:last-of-type {
  margin-bottom: 0;
}

/* line 134, ../sass/styles.scss */
.banner-movil {
  background-color: #072146;
  height: 850px;
  position: relative;
}
/* line 139, ../sass/styles.scss */
.banner-movil img {
  height: auto;
  align-items: center;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  /* line 134, ../sass/styles.scss */
  .banner-movil {
    display: none;
  }
}

/* line 152, ../sass/styles.scss */
.texto-banner {
  padding: 0 35px;
  text-align: center;
}
/* line 156, ../sass/styles.scss */
.texto-banner h3 {
  color: #2dcccd;
  font-size: 22px;
}
/* line 161, ../sass/styles.scss */
.texto-banner h1 {
  color: #ffffff;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  /* line 152, ../sass/styles.scss */
  .texto-banner {
    width: 100%;
    padding: 30px 15px;
    color: #ffffff;
    text-align: left;
  }
  /* line 174, ../sass/styles.scss */
  .texto-banner h3 {
    color: #2dcccd;
    font-size: 28px;
  }
  /* line 179, ../sass/styles.scss */
  .texto-banner span {
    display: block;
    background-color: #028484;
    height: 1px;
    width: 40px;
    margin-bottom: 15px;
  }
  /* line 187, ../sass/styles.scss */
  .texto-banner p {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 194, ../sass/styles.scss */
  .banner-principal {
    display: block;
    position: relative;
    height: 800px;
    background-color: #0c2a68;
  }
  /* line 203, ../sass/styles.scss */
  .banner-principal img {
    height: 450px;
    width: 100%;
  }
}

/* line 210, ../sass/styles.scss */
.division-banner {
  display: none;
}
@media only screen and (min-width: 1024px) {
  /* line 210, ../sass/styles.scss */
  .division-banner {
    display: inline-flex;
    height: 100%;
  }
}

/* line 220, ../sass/styles.scss */
.imagen-banner {
  width: 100%;
  height: 100%;
}
/* line 224, ../sass/styles.scss */
.imagen-banner img {
  width: 100%;
}

/* line 229, ../sass/styles.scss */
.recuadro-blanco {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  font-size: 8px;
  position: absolute;
  top: 70px;
  left: 5%;
  padding: 3px;
}
/* line 239, ../sass/styles.scss */
.recuadro-blanco h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin: 5px 0;
  font-weight: bold;
}
/* line 247, ../sass/styles.scss */
.recuadro-blanco span {
  font-size: 20px;
  float: left;
  margin-right: 10px;
}
/* line 253, ../sass/styles.scss */
.recuadro-blanco p {
  margin: 0;
  padding: 3px 0;
}
@media only screen and (min-width: 768px) {
  /* line 229, ../sass/styles.scss */
  .recuadro-blanco {
    width: 20%;
    top: 150px;
    left: 75%;
  }
}

/* line 265, ../sass/styles.scss */
.recuadro-lineas {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
