$color-azul-orcuro: rgb(7, 33, 70);
$color-turquesa: rgb(2, 132, 132);
$color-azul-claro: rgb(45, 204, 205);
$color-gris_fondo: rgb(244, 244, 244);
$color-azul-letras: rgb(91, 133, 178);

.contenedor {
  padding: 0 10px;
  height: 100%;

  @media only screen and (min-width: 768px){
    max-width: 90%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 1024px){
    max-width: 80%;
    margin: 0 auto;
  }


  @media only screen and (min-width: 1200px){
    max-width: 80%;
    margin: 0 auto;
  }
}

.boton {
  background-color: $color-turquesa;
  padding: 20px;
  color: #ffffff;
}

.navegacion-principal {
  background-color: $color-azul-orcuro;
  height: 70px;

  @media only screen and (min-width: 1024px){
    height: 120px;
  }
}

.nav-ppl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  height: 100%;
}

.menu-movil {
  width: 100%;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;

    li{
      display: inline-block;
      width: 30%;

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        padding: 5px;
        i {
          margin-right: 5px;
        }
      }

      img {
        height: 100%;
        padding-bottom: 10px;
      }
    }
  }


  @media only screen and (min-width: 1024px){
    display: none;
  }
}

.logo-menu {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: inline-block;
    a {
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 15px;
    }
  }
}

.cliente-menu {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: inline-block;
    flex-wrap: nowrap;
    a {
      color: #ffffff;
      margin-right: 20px;
      flex-wrap: nowrap;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.letra-amarilla {
  color: rgb(248, 205, 81);
}

.menu-hamburguesa { //como hago que cada rallita sea mas corta?
  span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    width: 20px;
    margin-bottom: 3px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.banner-movil {
  background-color: $color-azul-orcuro;
  height: 850px;
  position: relative;

  img {
    height: auto;
    align-items: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.texto-banner {
  padding: 0 35px;
  text-align: center;

  h3 {
    color: $color-azul-claro;
    font-size: 22px;
  }

  h1 {
    color: #ffffff;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }

  @media only screen and (min-width: 768px) {
    width: 100%;
    padding: 30px 15px;
    color: #ffffff;
    text-align: left;

    h3 {
      color: $color-azul-claro;
      font-size: 28px;
    }

    span {
      display: block;
      background-color: $color-turquesa;
      height: 1px;
      width: 40px;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 40px;
    }
  }
}


.banner-principal{
  //display: none;

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    display: block;
    position: relative;
    height: 800px;
    background-color: rgb(12, 42, 104);

    img {
      height: 450px;
      width: 100%;
    }
  }
}

.division-banner {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: inline-flex;
    height: 100%;
  }
}


.imagen-banner {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}

.recuadro-blanco {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  font-size: 8px;
  position: absolute;
  top: 70px;
  left: 5%;
  padding: 3px;

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
    font-weight: bold;
  }

  span {
    font-size: 20px;
    float: left;
    margin-right: 10px;
  }

  p {
    margin: 0;
    padding: 3px 0;
  }

  @media only screen and (min-width: 768px) {
    width: 20%;
    top: 150px;
    left: 75%;
  }
}

.recuadro-lineas {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
